
<div class="container-fluid">
    <div class="row">
        <h2 style="text-align: center">Anslutna hus</h2>

		<div ng-repeat="House in Houses">
			<button class="btn-primary" ng-click="GoTo('House.html')"> {{House.HouseName}} </button>
		</div>

		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th ng-click="sortByHouseName()">Hus</th>
						<th ng-click="sortByRooms()">Antal Rum</th>
					</tr>
				</thead>
				<tbody>
					<tr class="listFocus cursor" ng-repeat="House in Houses">
						<td ng-click="GoTo('House.html')">{{House.HouseName}}</td>
						<td ng-click="GoTo('House.html')">{{House.Rooms.Count()}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
    <h4 style="text-align: center">CenitoIoT</h4>
    <p style="text-align: center; color: GrayText">Niklas Strömberg.</p>
</div>

