<!-- Loading symbol -->
<div class="center" ng-if="!houses"><span us-spinner></span></div>
<!-- -------------- -->

<div class="container-fluid ">
	<div class="panel panel-primary" ng-if="houses">

		<div class="panel-heading">
			<p>
				<h2>
					Anslutna Hus
				</h2>
			</p>
		</div>
		<!-- table of data -->
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Hus</th>
					</tr>
				</thead>
				<tbody>
					<tr class="listFocus cursor" ng-repeat="house in houses | unique: 'HouseId'">
						<td ng-click="open(house)">
							{{house.HouseName}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>