<div class="container-fluid" style="width:initial">
	<div class="panel panel-primary" ng-if="house">

		<div class="panel-heading">
			<p>
				<h2>
					{{house.HouseName}}
				</h2>
			</p>
		</div>
		<!-- The table of data in the modal -->
		<div class="panel-body grid" style="overflow-y: scroll; height:100%; width:inherit">
			<table class="table">
				<tr>
					<th>Värde</th>
					<th ng-repeat="room in house.Rooms">{{room.RoomName}}</th>
				</tr>
				<tr>
					<td>Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperature}}</td>
				</tr>
				<tr>
					<td>Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidity | number:2}}</td>
				</tr>
				<tr>
					<td>Högsta Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperatureHigh}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RTHTimestamp | date: 'yyyy-M-d, H:mm' }}</td>
				</tr>
				<tr>
					<td>Lägsta Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperatureLow}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RTLTimestamp | date: 'yyyy-M-d, H:mm' }}</td>
				</tr>
				<tr>
					<td>Högsta Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidityHigh | number:2}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RHHTimestamp | date: 'yyyy-M-d, H:mm' }}</td>
				</tr>
				<tr>
					<td>Lägsta Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidityLow | number:2}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RHLTimestamp | date: 'yyyy-M-d, H:mm' }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
