<div class="container-fluid">
	<div class="panel panel-primary" ng-if="house">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<p>
				<h2>
					{{house.HouseName}}
				</h2>
			</p>
		</div>

		<div class="panel-body grid">
			<table class="table">
				<tr>
					<th>Värde</th>
					<th ng-repeat="room in house.Rooms">{{room.RoomName}}</th>
				</tr>
				<tr>
					<td>Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperature}}</td>
				</tr>
				<tr>
					<td>Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidity}}</td>
				</tr>
				<tr>
					<td>Högsta Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperatureHigh}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RTHTimestamp}}</td>
				</tr>
				<tr>
					<td>Lägsta Temperatur</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomTemperatureLow}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RTLTimestamp}}</td>
				</tr>
				<tr>
					<td>Högsta Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidityHigh}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RHHTimestamp}}</td>
				</tr>
				<tr>
					<td>Lägsta Luftfuktighet</td>
					<td ng-repeat="room in house.Rooms">{{room.RoomHumidityLow}}</td>
				</tr>
				<tr>
					<td>Vid</td>
					<td ng-repeat="room in house.Rooms">{{room.RHLTimestamp}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
