<html>
<head>
	<title>CenitoIoT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- set base href so that angular knows -->
	<base href="/" />
	<link rel="stylesheet" href="Content/bootstrap.css">
	<link rel="stylesheet" href="Content/site.css">
	<link rel="styleSheet" href="release/ui-grid.min.css" />
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/angular-route.js"></script>
	<script src="Scripts/angular-resource.js"></script>
	<script src="Scripts/ui-bootstrap-tpls-1.3.3.js"></script>
	<script src="Scripts/angular-spin/spin.js"></script>
	<script src="Scripts/angular-spin/angular-spinner.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.2.5/ui-grid.min.js"></script>
	<script src="Application/app.js"></script>
	<script src="Application/services.js"></script>
	<script src="Application/homeController.js"></script>
	<script src="Application/houseController.js"></script>
	<script src="Application/headerController.js"></script>
	<script src="Application/roomController.js"></script>

</head>
<body ng-app="CenitoIoT">
	<header ng-include="'Partials/header.html'" ng-controller="headerController" class="container"></header>

	<main class="container mainbody" ng-view>

	</main>

	<footer ng-include="'Partials/footer.html'" class="footer"></footer>


</body>
</html>
